<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADDSWcP-v0hXrInPqjzvAtzE7k9kJtIJE</string>
	<key>GCM_SENDER_ID</key>
	<string>535543638658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cpa.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>cpa-flutter-3cb59</string>
	<key>STORAGE_BUCKET</key>
	<string>cpa-flutter-3cb59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535543638658:ios:c4320cb97fd8b49552629b</string>
</dict>
</plist>